[submodule ".claude/commands"]
	path = .claude/commands
	url = https://github.com/okieselbach/Autopilot-Monitor-dotclaude.git
[submodule "docs"]
	path = docs
	url = https://github.com/okieselbach/Autopilot-Monitor-docs-internal.git
[submodule "infra"]
	path = infra
	url = https://github.com/okieselbach/Autopilot-Monitor-infra.git
